*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style:none ;
    text-decoration: none;
    color: rgb(77, 76, 76);
}
/* SECTION ----> HEADER */

.menu {
    display: flex;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    font-weight: bolder;
}

header {
    width: 100%;
    height: 80px;
   
    top: 0;
    left: 0;
    border-bottom: 4px solid rgb(190, 151, 20);
    margin-bottom: 50px;
}

li {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}

li:hover {
    background-color: rgba(142, 218, 245, 0.835);
    border-radius: 40%;

}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 100%;
    color: rgb(15, 15, 17);
    
}

#logo {
    
    height: 80px;
    width: 200px;
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: bolder;  

}

#icon-menu {
    visibility: hidden;
    width: 32px;
    height: 32px;

}


.imgHeader{
     width: 100%;
     
     
}


/* SECTION ---> QUI SOMMES NOUS ..... */

.quiSommeNous{
    margin-top: 25px;
    padding: 35px;
}
h1{
    display: flex;
    width: 350px;
    height: auto;
    font-size: 40px;
    
}
.carre {
    position: absolute;
    border: solid 3px white;
    width: 175px;
    margin-top: 1%;
    background-color: #AF0102;
    color: rgb(251, 249, 249);
    font-size: 15px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
  
}
.center {
    display: flex;
    text-align: justify;
}

.center img {
    display: flex;
    height: 50vh;
    margin-left: 10%;

  

}
.texte0 {

    padding-top: 25px;
    margin-left: 40px;
}

.who {
   width : 233px;
}

.paragraphe {
    padding-top: 7%;
    
}
.text2 {
   
    margin-left: 10%;
    text-align: justify;
    margin-top: 25px;
}

 /* SECTION ---> OURTEAM */

.ourTeam {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article.team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.leftManagers,
 .rightManagers {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-content: center;
     margin: 5%;
 }

 .manager {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: auto;
     margin-bottom: 5%;
 }

 .manager img {
     border-radius: 50%;
     max-width: 150px;
 }

 .manager img:hover {
    border-radius: 50%;
    max-width: 200px;
    transform: rotate(180deg);
    cursor: pointer;
}

 .manager .manaDescription {
     margin-left: 3%;
     max-height: 80%;
     background-size: contain;
     font-size: 14px;

 }

 .manager .manaDescription h5 {
     background-color: #C34141;
     width: 75px;
     color: white;
     text-align: center;
 }

 .manaDescription h5:hover {
     font-size: 25px;
     cursor: pointer;
 }

.card:hover {
  background-color: rgb(243, 243, 243);
}

/* SECTION ---> HISTOIRE */

#page1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.text{
    display: flex;
    width: 100vh;
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 600px;
   
}
#histoire{
    margin-top: 30px;

   
}
.titre{
    margin-bottom: 30px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
  
   
}

.photo{
   
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vh;
    border-radius: 10%;

}

/* SECTION ---> GASTRONOMIE */

#page2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   
}
.photo2{
    
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
}



/* SECTION ---> MONUMENT */
#page3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.photo2{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80vh;
    border-radius: 10%;
}
.paragraphe2{
    display: flex;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
  
   
}

/* SECTION --->  EVENEMENT*/

#page4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.textEvenement{
    display: flex;
    font-size: 20px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
   
}

.photoEvenement{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    width: 160vh;
   
}

/* SECTION -------> GALERIE */

.row{
  margin-left: 100px;
  margin-right: 100px;
}

/* SECTION --------->CONTACT */
  
  input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }
  label{margin-right: 0px;
    margin-left: 0px;
    width: 100%;}
  
  input[type=submit] {
    background-color: #1255a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input:hover {
    background-color: #1872D9;
  }
  
  .formulaire {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    box-sizing : border-box;
    border-radius:5px;
    background-color:#f2f2f2;
    padding:20px;
    width: 100%;
    max-width: 440px;
    margin:0 auto;
  }
  .form  {
    color: #ffc800;
    width: 100%;
  }
  .contenaireAdresse{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
  }
  .adresse{
    margin-top: 30px;
    width: 50%;
    font-size: 20px;
  }
  .rdv{
    justify-content: center;
    margin-top: 30px;
    width: 50%;
    color: #ffc800;
    
  }
  .map{
    margin-top: 30px;
   
  }


/* SECTION ---> FOOTER */

.footer {
    background: url(/img/tapis.png);
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reseau {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 400px;
}
.logo {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reseau img {
    height: 50px;
    width: 50px;
}

.reseau img:hover {
   height: 75px;
   width: 75px;
   cursor: pointer;
}
.textfooter{
    margin-top: 30px;
}



@media only screen and (min-width: 641px) and (max-width: 1007px) {

    .center{
        display: flex;
        flex-wrap: wrap;
    }
    .center img {
        width: 80%;
        
    } 

    .paragraphe {
        width:95%;
    }

    .text2 {
        margin-left: 0;
    }

}
@media screen and (max-width: 641px) {
    header {
        position: absolute;
    }

    #icon-menu {
        visibility: visible;
        background-color: rgb(15, 15, 14);


    }

    #icon-menu:hover {
        visibility: visible;


    }

    nav ul,
    nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: white;
        right: 10px;
        top: 35px;
        width: 35%;

    }

    nav:hover ul {
        display: block;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 15px 0;
        margin: 0;
    }

    li:hover {
        color: rgb(190, 151, 20);
    }
    .quiSommeNous{
        margin-top: 100px;
        padding: 35px;
    }
   
    .center {
        display: flex;
        text-align: justify;
        flex-wrap: wrap;
        margin:0;
    }
    .center img {
        width: 90%;
        
    } 
    
    .team {
        margin-top: 8%;
        display: flex;
        flex-wrap: wrap;
    }

    .manager img {
        border-radius: 50%;
        width: 220px;
    }

        .leftManagers,
        .rightManagers {
            margin: 0%;
        }

        #histoire{
            margin-top: 100px;

        }
        #gastronomie{
            margin-top: 100px;
            
        }
        #monument{
            margin-top: 100px;
            
        }
        #sport{
            margin-top: 100px;
            
        }
        #evenement{
            margin-top: 100px;
            
        }
        .reseau {
            max-width: 300px;
            margin: 0;
        }
    
        .footer {
            height: 150px;
        }
    
        
            
}
