/* .nav-list{
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style:none ;
}
.nav-item{
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-item a {
    color: rgb(77, 76, 76);
    letter-spacing: 1.2px;
}
.nav-item:first-child{
    font-size: 40px;
    margin-right: auto;
    margin-left: 2rem;
} */
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: rgb(22, 22, 28);
 
}

.menu {
    display: flex;
    

}

ul {
    list-style: none;
    font-weight: bolder;
}

header {
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    border-bottom: 4px solid rgb(190, 151, 20);
    margin-bottom: 50px;
}

li {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}

li:hover {
    background-color: rgba(142, 218, 245, 0.835);
    border-radius: 40%;

}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 100%;
    color: rgb(15, 15, 17);
    
}

#logo {
    
    height: 80px;
    width: 200px;
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: bolder;  

}

#icon-menu {
    visibility: hidden;
    width: 32px;
    height: 32px;

}




.galerie {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.image {
    width: 500px;
    height: 300px;
    margin: 50px;
}



.footer {
    background: url(/img/tapis.png);
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reseau {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 400px;
}

.logo {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reseau img {
    height: 50px;
    width: 50px;
}

.reseau img:hover {
    height: 75px;
    width: 75px;
    cursor: pointer;
}

.textfooter {
    margin-top: 30px;
}
@media only screen and (max-width:650px) {
    header {
        position: absolute;
    }

    #icon-menu {
        visibility: visible;
        background-color: rgb(15, 15, 14);


    }

    #icon-menu:hover {
        visibility: visible;


    }

    nav ul,
    nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: white;
        right: 10px;
        top: 35px;
        width: 35%;

    }

    nav:hover ul {
        display: block;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 15px 0;
        margin: 0;
    }

    li:hover {
        color: rgb(190, 151, 20);
    }
}